body {
    background: url("images/bg_body.jpg");
    margin: 0;
}

header {
    background: url("images/bg_header.jpg") ;
    background-size: auto, auto;
    background-repeat: no-repeat;
    width: 100%;
    height: 83vh;
    margin-top: 0;
    margin-bottom: 0;
    margin: auto;
}

nav {
    background-color: green;
    opacity: 0.8;
    width: 100%;
    height: 3vh;
}

header nav a {
    text-decoration: none;
    color: #ffffff;
    margin-left: 5px;
    margin-right: 5px;
}

aside {
    background: url("images/bg_news.jpg");
    background-repeat: no-repeat;
    height: 100%;
    margin-left: 150px;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    display: inline-block;
    vertical-align: top;
    width: 44%;
}


article{
    vertical-align: middle;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 8vh;
    width: 100%;

}

#clear {
    clear: both;
}

.date {
    background: url("images/bg_date.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    padding: 20px;
    height: 100%;
    text-align: center;
}

.jour {
    color: red;
    font-weight: bold;
}

.citation_article {
    width: 70%;
    display: inline-block;
    text-align: justify;
}


.menu {
    text-align: right;
}

.section_un{
    margin: auto;
    padding-left: 20px;
    width: 74%;
    margin-top: 100px;
    margin-bottom: 30px;
}

.section_deux{

    display: inline-block;
    vertical-align: left;
    /*margin-top: 10px;*/
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 10vh;
    width: 25%;
}

.section_deux_un {

}

.section_deux_deux {
    background: url("images/pot_newsletter.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-position: right;
}

.article_haut{
    width: 30%;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.btn_submit {
    background: url('images/br_btn.jpg');
}

ul {
    list-style: square url("images/puce_feuille.png");
}

.liste_un {
    display: inline-block;
    color: green;
}

.liste_deux {
    display: inline-block;
    color: green;
}

.body_suite {
    margin-top: 30px;
}
